tr(id="row_#{key}")
  td.col_device= entity.device
  td.col_alias
    input(id="aliasof_#{key}", size="40", type="text", value=entity.alias)
  td.col_index.type_numeric= entity.index
  td.col_value.type_numeric= entity.value